# Configuración de la aplicación
SPRING_PROFILES_ACTIVE=prod
SERVER_PORT=8080

# Configuración de email
APP_EMAIL_OWNER=test@demomailtrap.co
APP_EMAIL_FROM=test@demomailtrap.co

# Configuración SMTP de Mailtrap
SPRING_MAIL_USERNAME=26a46dc3a687a0
SPRING_MAIL_PASSWORD=50b2a9e402a542

# Configuración de logging
LOGGING_LEVEL_COM_FOODOPS_EMAILMICROSERVICE=INFO
LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_WEB=INFO
LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_MAIL=INFO

# Configuración de JVM
JAVA_OPTS=-Xms512m -Xmx1024m -XX:+UseG1GC -XX:+UseContainerSupport 